body {
    background-color: var(--white);
}

html {
    scroll-behavior: smooth;
}

.noscroll {
    overflow: hidden;
}

.lang {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.lang__title {
    margin-bottom: 20px;
}

.lang__link {
    margin-bottom: 10px;
}

.page {
    padding-top: 30px;
    padding-bottom: 30px;
}

.page__title {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.page__line {
    content: '';
    height: 2px;
    width: 29%;
    display: flex;
    margin: 12px auto 26px auto;
    background-color: var(--black);
}

.page__text {
    margin: 20px 20px 0 20px;
}

.page__other {
    margin: 40px 20px 20px 20px;
    text-align: center;
}

/* .page__other--txt {
    
} */

.page__other--link {
    margin: 20px 20px 0 20px;
}

/* .page__cover {

} */

.page__section {
    margin-bottom: 40px;
}

.page__section--center {
    text-align: center;
}

/* .artistes {

} */

.artistes__title {
    text-align: center;
}

/* .artistes__carrousel {

} */