.art {
    padding: 30px 0 30px 0;
}

/* .art__article {

} */

.art__title {
    margin: 0 20px 0 20px;
    text-align: center;
}

.art__img {
    width: 100%;
    max-width: 750px;
    display: block;
    margin: auto;
}

.art__text {
    margin: 30px 20px 0px 20px;
}