.header {
    background-color: var(--light-gray);
    display: flex;
    justify-content: space-around;
    padding: 39px 0 13px 0;
    position: sticky;
    top: 0;
    z-index: 10;
    filter: drop-shadow(var(--shadow));
}

.header__link {
    color: var(--black);
    text-decoration: none;
}

.header__link--img {
    display: contents;
}

.header__title {
    font-family: var(--serif);
    font-size: var(--logo);
    font-weight: var(--medium);
    color: var(--black);
    margin-right: -22px;
}

.header__shop {
    width: 23px;
    float: right;
}

/* .header__menu {

} */